<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Prediction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Loan Prediction App</h1>
        <form method="POST">
            <label for="no_of_dep">Choose No of Dependents:</label>
            <input type="number" id="no_of_dep" name="no_of_dep" min="0" max="5" required>

            <label for="grad">Choose Education:</label>
            <select id="grad" name="grad">
                <option value="Graduated">Graduated</option>
                <option value="Not Graduated">Not Graduated</option>
            </select>

            <label for="self_emp">Self Employed?</label>
            <select id="self_emp" name="self_emp">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <label for="Annual_Income">Choose Annual Income:</label>
            <input type="number" id="Annual_Income" name="Annual_Income" min="0" max="10000000" required>

            <label for="Loan_Amount">Choose Loan Amount:</label>
            <input type="number" id="Loan_Amount" name="Loan_Amount" min="0" max="10000000" required>

            <label for="Loan_Dur">Choose Loan Duration (Years):</label>
            <input type="number" id="Loan_Dur" name="Loan_Dur" min="0" max="20" required>

            <label for="Cibil">Choose Cibil Score:</label>
            <input type="number" id="Cibil" name="Cibil" min="0" max="1000" required>

            <label for="Assets">Choose Assets:</label>
            <input type="number" id="Assets" name="Assets" min="0" max="10000000" required>

            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
            <h2>{{ prediction }}</h2>
        {% endif %}
    </div>
</body>
</html>
